.htDark {
  /* width: 100px; */
  /* padding: 0.2em; */
  /* background: #888; */
  /* outline: none; */
  /* color: #fff; */
  /* border: 0; */
}

.handsontable .htDark {
  background: rgb(34, 38, 40);
  color: #eee;
  border-color: rgba(88, 86, 82, 0.5);
  border-color: rgba(88, 86, 82, 0.5) !important;
}

.handsontable .darkTH {
  background: rgb(24, 29, 31);
  color: #eee;

  border-color: rgba(88, 86, 82, 0.5) !important;
}
.handsontable .darkRH {
  background: rgb(24, 29, 31);
  color: #eee;
  border-color: rgba(88, 86, 82, 0.5) !important;
  /* border-color: rgba(88, 86, 82, 0.5); */
}

.handsontable th {
  border: 0;
}

/* .handsontable tbody th.ht__highlight {
  background-color: red !important;
} */
.handsontable .ht__highlight {
  background: #27354c !important;
  color: white !important;
}
